.loader {
  position: relative;

  &.absolute {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
  }

  .loading {
    position: absolute;
    width: 100%;
    z-index: 10;
    height: 100%;
    left: 0px;
    top: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.background {
      background-color: hsla(0, 0%, 100%, .81);
      border-radius: 7px;
      margin-top: 0px;
      height: 100%;
    }

    img {
      max-height: 100%;
      max-width: 125px;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .p-message-close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 11;
  }
}

.load-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include loading-spinner;
}

.loader-spinner {
  margin: 100px auto;
  font-size: 12px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load 1.1s infinite ease;
  animation: load 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #fec700, 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2), 2.5em 0em 0 0em rgba(254, 199, 0, 0.2), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.2), 0em 2.5em 0 0em rgba(254, 199, 0, 0.2), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.2), -2.6em 0em 0 0em rgba(254, 199, 0, 0.5), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.7), 1.8em -1.8em 0 0em #fec700, 2.5em 0em 0 0em rgba(254, 199, 0, 0.2), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.2), 0em 2.5em 0 0em rgba(254, 199, 0, 0.2), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.2), -2.6em 0em 0 0em rgba(254, 199, 0, 0.2), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.5), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.7), 2.5em 0em 0 0em #fec700, 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.2), 0em 2.5em 0 0em rgba(254, 199, 0, 0.2), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.2), -2.6em 0em 0 0em rgba(254, 199, 0, 0.2), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.2), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.5), 2.5em 0em 0 0em rgba(254, 199, 0, 0.7), 1.75em 1.75em 0 0em #fec700, 0em 2.5em 0 0em rgba(254, 199, 0, 0.2), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.2), -2.6em 0em 0 0em rgba(254, 199, 0, 0.2), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.2), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2), 2.5em 0em 0 0em rgba(254, 199, 0, 0.5), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.7), 0em 2.5em 0 0em #fec700, -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.2), -2.6em 0em 0 0em rgba(254, 199, 0, 0.2), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.2), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2), 2.5em 0em 0 0em rgba(254, 199, 0, 0.2), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.5), 0em 2.5em 0 0em rgba(254, 199, 0, 0.7), -1.8em 1.8em 0 0em #fec700, -2.6em 0em 0 0em rgba(254, 199, 0, 0.2), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.2), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2), 2.5em 0em 0 0em rgba(254, 199, 0, 0.2), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.2), 0em 2.5em 0 0em rgba(254, 199, 0, 0.5), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.7), -2.6em 0em 0 0em #fec700, -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.2), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2), 2.5em 0em 0 0em rgba(254, 199, 0, 0.2), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.2), 0em 2.5em 0 0em rgba(254, 199, 0, 0.2), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.5), -2.6em 0em 0 0em rgba(254, 199, 0, 0.7), -1.8em -1.8em 0 0em #fec700;
  }
}

@keyframes load {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #fec700, 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2), 2.5em 0em 0 0em rgba(254, 199, 0, 0.2), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.2), 0em 2.5em 0 0em rgba(254, 199, 0, 0.2), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.2), -2.6em 0em 0 0em rgba(254, 199, 0, 0.5), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.7), 1.8em -1.8em 0 0em #fec700, 2.5em 0em 0 0em rgba(254, 199, 0, 0.2), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.2), 0em 2.5em 0 0em rgba(254, 199, 0, 0.2), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.2), -2.6em 0em 0 0em rgba(254, 199, 0, 0.2), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.5), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.7), 2.5em 0em 0 0em #fec700, 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.2), 0em 2.5em 0 0em rgba(254, 199, 0, 0.2), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.2), -2.6em 0em 0 0em rgba(254, 199, 0, 0.2), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.2), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.5), 2.5em 0em 0 0em rgba(254, 199, 0, 0.7), 1.75em 1.75em 0 0em #fec700, 0em 2.5em 0 0em rgba(254, 199, 0, 0.2), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.2), -2.6em 0em 0 0em rgba(254, 199, 0, 0.2), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.2), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2), 2.5em 0em 0 0em rgba(254, 199, 0, 0.5), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.7), 0em 2.5em 0 0em #fec700, -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.2), -2.6em 0em 0 0em rgba(254, 199, 0, 0.2), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.2), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2), 2.5em 0em 0 0em rgba(254, 199, 0, 0.2), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.5), 0em 2.5em 0 0em rgba(254, 199, 0, 0.7), -1.8em 1.8em 0 0em #fec700, -2.6em 0em 0 0em rgba(254, 199, 0, 0.2), -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.2), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2), 2.5em 0em 0 0em rgba(254, 199, 0, 0.2), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.2), 0em 2.5em 0 0em rgba(254, 199, 0, 0.5), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.7), -2.6em 0em 0 0em #fec700, -1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(254, 199, 0, 0.2), 1.8em -1.8em 0 0em rgba(254, 199, 0, 0.2), 2.5em 0em 0 0em rgba(254, 199, 0, 0.2), 1.75em 1.75em 0 0em rgba(254, 199, 0, 0.2), 0em 2.5em 0 0em rgba(254, 199, 0, 0.2), -1.8em 1.8em 0 0em rgba(254, 199, 0, 0.5), -2.6em 0em 0 0em rgba(254, 199, 0, 0.7), -1.8em -1.8em 0 0em #fec700;
  }
}
