$color-primary: #5262F1;
$color-secondary: #9852F1;
$color-info: #00cfe8;
$color-success: #08C988;
$color-warning: #FF8200;
$color-danger: #FF3B30;
$color-gray-light: #f1f1f1;
$color-gray-5: #767676;
$color-disabled: #d9d9d9;

$normal-text-size: 12px;

$form-control-background: #fbfbfb;
$form-control-border-color: #00000061;
$form-control-height: 40px;

$background-color-success: rgba(40, 199, 111, 0.12);
$background-color-danger: rgb(255, 191, 191);
$background-color-warning: rgba(255, 159, 67, 0.12);
$background-color-info: rgba(0, 207, 232, 0.12);
